@{
    ViewBag.Title = "Qui sommes nous ?";
}
<h2>@ViewBag.Title</h2>
<h3>BoVoyage, les vacances qui ne cassent pas le porte monnaie !</h3>

<p>Spécialiste des voyages discounts depuis plus de 50 ans, BoVoyage est désormais accessible depuis votre nid douillet</p>
<p>Envie d'ailleurs ? N'attendez plus et réservez en ligne dès maintenant !!!</p>
