@model BoVoyageFinalProject.Models.Info
@{
    ViewBag.Title = "A Propos";
}
<h3>@ViewBag.Message</h3>

<p>Application développée par : <span style="font-weight:bold">@Model.DevName</span></p>
<p>Adresse postale : @Model.Address</p>
<p>Contact:@Model.ContactMail</p>
<p>&copy;@Model.CreatedDate</p>

