@model IEnumerable<BoVoyageFinalProject.Models.Travel>
@{
    ViewBag.Title = "Accueil";
}

@Html.Partial("~/Views/Shared/_PartialTravelSearch.cshtml")

<div class="panel-primary">
    <h3>TOP</h3>
</div>
